@if (pollution) {
  <body>
  <h2>Récapitulatif </h2>
  <p><strong>Titre :</strong> {{ pollution.titre }}</p>
  <p><strong>Type :</strong> {{ pollution.type_pollution }}</p>
  <p><strong>Description :</strong> {{ pollution.description }}</p>
  <p><strong>Date :</strong> {{ pollution.date_observation }}</p>
  <p><strong>Lieu :</strong> {{ pollution.lieu }}</p>
  <p><strong>Latitude :</strong> {{ pollution.latitude }}</p>
  <p><strong>Longitude :</strong> {{ pollution.longitude }}</p>

  @if (pollution.photo_url) {
    <p><strong>Photo :</strong></p>
    <img [src]="pollution.photo_url" alt="photo pollution" width="200">
  }
  </body>
}
