.main-header {
  background-color: #333;
  padding: 15px 30px;
  color: white;
}

.main-nav {
  display: flex;
  justify-content: space-between; /* Aligne les éléments */
  align-items: center;
}

.nav-links,
.nav-auth {
  list-style: none; /* Enlève les puces */
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Espace entre les liens */
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: #00aaff; /* Couleur au survol */
}

/* C'EST LA PARTIE IMPORTANTE */
/* Cette classe est ajoutée automatiquement par routerLinkActive */
.main-nav a.active-link {
  color: #00aaff;
  border-bottom: 2px solid #00aaff;
}

/* Style pour le bouton "Signaler" */
.nav-button-cta {
  background-color: #007bff;
  color: white !important;
  padding: 8px 12px;
  border-radius: 5px;
}
.nav-button-cta:hover {
  background-color: #0056b3;
  color: white !important;
}
.nav-button-cta.active-link {
  border-bottom: none; /* Pas besoin de souligner le bouton */
}